[submodule "lib/cover-token-mining"]
	path = lib/cover-token-mining
	url = https://github.com/CoverProtocol/cover-token-mining
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
